div{
    float:left;
    width:18%;
    text-align: center;
    background-color: blanchedalmond;
    margin:5px;
    padding:10px;
    line-height: 1.5rem;
    box-sizing: border-box;
    font-size: 1.2rem;
}
button{
  
    padding:10px;
    margin:10px;
    font-weight: bolder;
}
span{
    font-size:1.1rem
}
a{
    font-size: 1.3rem;
    margin:10px;
}