<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<span>
Id: <input type="text" [(ngModel)]="id">
<br><br>
Name: <input type="text" [(ngModel)]="name">
<br><br>
Price: <input type="text" [(ngModel)]="price">
<br><br>
Category: <input type="text" [(ngModel)]="cat">
<br><br>
Quantity: <input type="text" [(ngModel)]="qty">
<br><br>


<button (click)="onf1get()">Get Products</button>
<button (click)="onf2add()">Add Product</button>
<button (click)="onf3upd()">Update Product</button>
<button (click)="onf4res()">Reset</button>
<br><br>
</span>
<div [hidden]="showingdetails" *ngFor="let item of obj;let i=index">
    Product id: {{item.id}} <br>
    Name: {{item.name}} <br>
    Price: {{item.price}} <br>
    Category: {{item.cat}} <br>
    Qty: {{item.qty}} <br>
    <br>
    <a href="#" (click)="update(i)"><i class="bi bi-pencil-square"></i></a>
    <a href="#" (click)="delete(i)"><i class="bi bi-trash3-fill"></i></a>
</div>